
.env

# Kotlin / Gradle
.gradle/
build/
**/.kotlin/
out/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.springBeans
.sts4-cache

# Eclipse / NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

**/generated/

# Misc
bin/
*.log
.DS_Store

