# -----------------------------------------------------------------------------
# Backend (online-shop)
# -----------------------------------------------------------------------------
MTS_APP_NAME=online-shop
MTS_PORT=8080
MTS_CONTEXT_PATH=/api

# Backend — БД
MTS_DB_HOST=localhost
MTS_DB_PORT=5432
MTS_DB_NAME=db
MTS_DB_USERNAME=user
MTS_DB_PASSWORD=pass

# Backend — JWT
MTS_JWT_SECRET=s9/PnuqMovO16uMBoWSjwoWI8etyn1KLFvfCLyTXq+g=
MTS_JWT_EXPIRATION_MS=1800000

# Backend — почта
MTS_MAIL_HOST=smtp.mail.ru
MTS_MAIL_PORT=465
MTS_MAIL_USERNAME=noreply@localhost
MTS_MAIL_PASSWORD=


MTS_LIQUIBASE_ENABLED=true
MTS_LOG_LEVEL=INFO

BANK_URL=http://localhost:8081

# -----------------------------------------------------------------------------
# Bank
# -----------------------------------------------------------------------------
BANK_APP_NAME=bank-simulator
BANK_PORT=8081
BANK_CONTEXT_PATH=/api

# Bank — БД
BANK_DB_HOST=localhost
BANK_DB_PORT=5432
BANK_DB_NAME=db
BANK_DB_USERNAME=user
BANK_DB_PASSWORD=pass

BANK_LIQUIBASE_ENABLED=true
BANK_LOG_LEVEL=INFO